/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
}
p {
  font-size: 1.6rem;
  /* font-weight: 600; */
}

/* NAV */

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #540b51;
  color: white;
  padding: 1.6em;
  box-sizing: border-box;
  /* margin-bottom: 1.6rem; */
}

nav div {
  display: flex;
  align-items: center;
}

nav div > img {
  height: 30px;
}

nav button {
  margin-left: 1rem;
  border: 0;
  background-color: inherit;
}

nav ul {
  display: none;
}

/* END NAV */
/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #540b51;
  color: white;
  padding: 1.6rem 0;
}

header div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin: 1.6rem 0;
}

h2,
h3 {
  color: #191817;
}

header p {
  text-align: center;
  margin: 1.6rem;
}

header button {
  height: 5rem;
  margin: 0 1.6rem 1.6rem;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

header button:first-child {
  background-color: white;
  color: #540b51;
}

header button img {
  width: 2rem;
  background-color: white;
  border-radius: 3px;
  padding: 0.8rem;
}

header button span {
  text-align: center;
  flex-grow: 1;
  margin-left: -3.8rem;
}

header > div > img {
  width: 100vw;
}

/* END HEADER */
/* MAIN */

section:nth-child(-n + 4) {
  /* padding: 1.6rem; */
  background-color: #f3eae2;
}

main section {
  padding-bottom: 1.6rem;
}

main section:nth-child(1) > p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.6rem 0;
}

section:first-child {
  padding: 1.6rem;
}

section:first-child > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

main img[src="./images/logo-airbnb.png"],
img[src="./images/logo-nasa.png"],
img[src="./images/logo-uber.png"],
img[src="./images/logo-target.png"],
img[src="./images/logo-nyt.png"],
img[src="./images/logo-spotify.png"] {
  max-width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: 0.8rem 0.8rem 0.8rem 0;
}

img[src="./images/connectedness-mobile.png"],
img[src="./images/speed-mobile.png"] {
  width: 100%;
  margin: 1.6rem 0;
}
img[src="./images/flexibility-mobile.png"] {
  width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1.6rem 0;
}

main a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2e71a6;
}

section:nth-child(2) > div:last-child {
  padding: 1.6rem;
}
section:nth-child(2) > div:last-child p {
  margin-bottom: 1.6rem;
}

section:nth-child(3) {
  display: flex;
  flex-direction: column;
}

section:nth-child(3) > div:first-child {
  padding: 1.6rem;
  order: 1;
}
section:nth-child(3) > div:first-child p {
  margin-bottom: 1.6rem;
  order: 2;
}

section:nth-child(4) > div:last-child {
  padding: 1.6rem;
}
section:nth-child(4) > div:last-child p {
  margin-bottom: 1.6rem;
}

section:nth-child(5) {
  padding: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2.4em;
  font-weight: bold;
  margin: 1.6rem 0;
  text-align: center;
}

section:nth-child(5) div,
section:nth-child(6) button {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.6rem;
}

section:nth-child(5) button,
section:nth-child(6) button {
  height: 5rem;
  margin: 0 0 1.6rem;
  background-color: #fff;
  border: 1px solid #540b51;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  text-transform: uppercase;
  color: #540b51;
  font-weight: 600;
}

section:nth-child(5) button:first-child {
  background-color: #540b51;
  color: #fff;
}

section:nth-child(6) button:last-child {
  background-color: #540b51;
  color: #fff;
  border: 1px solid #fff;
}

section:nth-child(5) ul {
  padding: 3rem;
  font-weight: bold;
}

section:nth-child(5) li {
  margin: 1.6rem 0;
}

section:nth-child(5) span {
  font-size: 4rem;
  color: #540b51;
}

section:nth-child(6) {
  padding: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #540b51;
}

section:nth-child(6) h3 {
  color: white;
}

/* END MAIN */
/* FOOTER */

footer {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
}

footer img {
  width: 48px;
}

footer div {
  display: flex;
  justify-content: space-between;
  margin: 1.6rem 0;
}

footer > div > ul li,
footer > ul > li {
  margin-bottom: 0.8rem;
}

footer > div > ul li:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.8rem;
}

footer > ul > li {
  font-weight: bold;
}
/* END FOOTER */

footer > ul:last-of-type{
  display: flex;
  justify-content: space-between;
}